<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="SQLiteConn" connectionString="Data Source=|DataDirectory|\DBFILE;Version=3;" providerName="System.Data.SQLite" />
    <add name="LocalDbConn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog = testDb;Integrated Security = True;Connect Timeout=20" providerName="System.Data.SqlClient" />
    <add name="RemoteSQLConn" connectionString="Data Source=tcp:137.204.72.73; Initial Catalog=studenti; User ID = studSSD; Password = 'studSSD';" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="dbServer" value="SQLiteConn" />
    <!-- "SQLiteConn" "LocalDbConn" "RemoteSqlServConn"-->
    <add key="dbOrdiniFile" value="C:\Users\Marti\Development\courses\SSD\ssd2019\Esempio1\res\ordiniMI2018.sqlite"/>
    <add key="pyScripts" value="C:\Users\Marti\Development\courses\SSD\ssd2019\Esempio1\python_scripts"/>
    <add key="pythonPath" value="C:\Users\Marti\Anaconda3\envs\tf\python.exe"/>
  </appSettings>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>